@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    font-family: 'Archivo', sans-serif;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}
body {
    background: #fdfdfd;
}
textarea{
    resize:none;
}
.button{
    transition: all 0.3s;
    cursor: pointer;
    height:50px;
    width:12.5em;
    border: 1px solid black;
    border-radius: 4%;
    font-size: 2rem;
    background: #cacaca;
    margin: 5px 5px 5px 5px;
}
.button-row{
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: space-evenly;
}

.button:hover{
    background: #aaaaaa;
    box-shadow: 1px 1px;
}
.button:active{

    transform: translate(5px, 5px);
}
.button:focus{
    outline-color:rgb(0, 0, 0);
}
.mainContainer{
    display:flex;
    flex-direction: column;
}
.header{
    animation: fadein 0.8s;
    -webkit-animation: fadein 0.8s; 
    -moz-animation: fadein 0.8s; 
     -ms-animation: fadein 0.8s; 
      -o-animation: fadein 0.8s; 
    position: fixed;
    display: flex;
    flex-direction:row;
    width:100%;
    top:0;
    background: linear-gradient(rgb(47, 97, 74), #547b69);
    height: 65px;
    z-index: 1;
}
.header-text{
    font-weight: normal;
    color: #fff;
    font-size: 3rem;
    align-self: center;
    text-shadow: 2px 2px #000;
}
.header-text.small{
    margin-right: 0vw;
    font-size: 2rem;
}
.header-left{
    display: flex;
    justify-content: flex-start;
    margin-left: 8.75%;
    flex-basis:60%;
}

.view-container{
    animation: fadein 1s;
    -webkit-animation: fadein 1s; 
       -moz-animation: fadein 1s; 
        -ms-animation: fadein 1s; 
         -o-animation: fadein 1s; 
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    text-align: center;
}
.view-text{
    font-size: 2.4rem;
    font-weight: lighter;
    margin-bottom: 1vh;
}
/* Forms */
.form{
    box-shadow: 2px 2px 15px 5px rgba(64,103,85,0.35);
    background: #fafafa;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    border-radius: 10px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2vh;
    text-align: left;
    padding: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.form-error{
    animation: fadein 1s;
    font-weight: bold;
    font-size:1.6rem;
    display:inherit;
    color: red;
    flex-basis:150%;
}
.login-error{
    margin-left: 0%;
}
.form-group{
    width:100%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.form-label{
    font-size: 2rem;
}
.form-input{
    background: #eaeaea;
    height:30px;
    transition: all linear 0.15s;
    font-size: 2rem;
}
.form-input:focus{
    font-size: 2.5rem;
}
.form-button{
    margin:0;
    align-self: center;
    margin-top: 10px;
}
/* Posts */
.post{
    overflow: hidden;
    animation: fadein 2s;
    -webkit-animation: fadein 2s; 
       -moz-animation: fadein 2s; 
        -ms-animation: fadein 2s; 
         -o-animation: fadein 2s; 
         box-shadow: 2px 2px 15px 5px rgba(30,30,30,0.3);
    padding: 10px 10px 10px 20px;
    background:#ddd;
    width:80vw;
    height: 250px;
    border-radius: 5px;
    margin-bottom: 28px;
    text-align:left;
}
.post-title{
    overflow: hidden;
    font-size: 3.2rem;
    font-weight: 500;
}
.post-author{
    font-size: 1.6rem;
    font-weight: lighter;
}
.post-message{
    overflow: hidden;
    background: rgba(255, 255, 255, 0.404);
    font-size: 2.2rem;
    margin:10px 10px 10px 0px;
    height:150px;
}
.post-date{
  text-align:right;
  font-size: 1.6rem;
  margin-right: 30px;
}

/* New post styling */
.new-post.show{
    clip-path: circle(100%);
    opacity: 1;
}
.new-post.hidden{
    clip-path: circle(10% at 0% 0%);
    pointer-events: none;
    opacity:0;
}
.new-post-button{
    height: 40px;
    margin-bottom:0px;
}
.form-new-post{
    font-size: 1.6rem;
    height: 30px;
}
.textarea-new-post{
    font-size: 1.6rem;
    height: 150px;
}
.form.new-post-form{
    justify-content: flex-start;
    width:50vw;
    height:390px;
}
.new-post{
    transition: linear 0.5s;
    left:20vw;
    position:fixed;
    display:flex;
    margin-top: 50px;
    flex-direction: column;
    padding: 25px;
    z-index: 2;
}

/* Header navigation bar */
.nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 1vw;
    flex-basis:40%;
}
.nav-button{
    animation: fadein 1s;
    -webkit-animation: fadein 1s; 
       -moz-animation: fadein 1s; 
        -ms-animation: fadein 1s; 
         -o-animation: fadein 1s; 
    height: 35px;
    font-size: 1.6rem;
    width:8em;
    align-self: center;
    margin-left: 1vw;
}
.nav-text{
    align-self: center;
    color:#fff;
    font-weight: 300;
}
.nav-menu{
    display:flex;
    justify-content: flex-end;
}
#hamburger{
    font-size: 3.4rem;
    color:white;
    line-height: 65px;
    display:none;
    user-select:none;
}
#hamburger-toggle{
    display:none;
}
@keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes newPost{
    from {opacity:0; clip-path: circle(10% at 0% 0%);}
    to {opacity:1; clip-path: circle(100%);}
}
@media (max-width: 768px)
{
    .new-post{
        width:100vw;
        left:0;
        padding:0;
    }
    .new-post-button{
        width:32%;
        white-space: normal;
        font-size: 1.6rem;
    }
    .form.new-post-form{
        align-self: center;
        width:75%;
        margin-top: 3vh;
        height:390px;
    }
    #hamburger{
        display:block;
        cursor: pointer;
    }
    .nav-text{
        font-size: 1.8rem;
        text-align: center;
    }
    .nav-menu{
        transition: all 1s;
        box-shadow: 2px 2px 10px 5px rgba(50,80,50,0.65);
        background:rgba(30,60,30,0.65);
        position:fixed;
        border: 1px solid black;
        border-radius: 10%;
        margin-top:12%;
        padding: 20px 10px 30px 10px;
        z-index: 1;
        display:none;
    }
    #hamburger-toggle:checked + .nav-menu{
        animation: fadein 1s;
        display:flex;
        flex-direction: column;
    }
    .view-text{
        font-size:1.8rem;
    }
    .form{
        width:75vw;
    }
    .header-text{
        font-size: 2.4rem;
    }
    .post-message{
        font-size: 1.6rem;
    }
}
@media (max-height: 500px)
{
    .new-post{
        margin:0;
        width:100vw;
        left:0;
        padding:0;
    }
    .form.new-post-form{
        align-self: center;
        width:75%;
        margin-top: 3vh;
        height:75vh;
    }
    .new-post-button{
        height: 30px;
        margin-bottom:0px;
    }
    .form-new-post{
        font-size: 1.6rem;
        height: 20px;
        margin-bottom: -10px;
    }
    .textarea-new-post{
        font-size: 1.6rem;
        height: 120px;
        margin-bottom: -20px;
    }
    .form-label{
        font-size: 1.6rem;
    }
}